.DS_Store
auto-save-list
var
url
*.elc
*.el~
ac-comphist.dat
.graphene*
%*
tramp
project-persist
tramp
projectile.cache
session.*
elpa
.mc*
/projectile-bookmarks.eld
/abbrev_defs
/flycheck-*
persp-confs/
/eshell
/org/*
!/org/.gitkeep
bookmarks
.cask
/project-explorer-cache
Cask~
/backup
/autosave
/etc
.#*
/desktop-sessions
